@body-color: #000;

body, html {
	color: @body-color;
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid @body-color;
}

h1, h2 {
	text-align: center;
}

nav#user-nav {
	padding: 1em 0 0 0;
	text-align: right;
}

nav#main-nav {
	font-size: 1.5em;
	font-weight: bold;
	span {
		margin: 0 1em;
	}
}

main section {
	display: inline-block;
	width: 49%;

	&:first-child {
		border: none;
		border-right: 1px solid @body-color;
	}
}

footer {
	text-align: center;
}

textarea {
	width: 100%;
	resize: vertical;
}