@maxwidth: 600px;
@body-color: #000;
@link-color: #F00;
@error-color: #F00;
@message-color: green;

// * { margin:0; padding:0;}
html, body { 
	height: 100%; 
	margin:0; 
	padding:0;
}

body, html {
	color: @body-color;
	max-width: @maxwidth;
	margin: 0 auto;
	padding: 0;
	font-family: helvetica, sans-serif;
	font-size: 13px;
}

hr {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid @body-color;
}

h1 {
	text-align: center;
}

main p {
	line-height: 1.75em;
}

*::selection {
	background: tint(#FF0,50%);
}

a {
	color: @link-color;
	&:visited {
		color: tint(@link-color,0%);
	}
	&:hover {
		color: shade(@link-color,30%);
	}
}

div.error {
	background-color: tint(@error-color,90%);
	color: @error-color;
	border:none;
	margin: 0.5rem 0;
	padding: 1em;
	border-left: 0.5rem @error-color solid;
}

div.message {
	background-color: tint(@message-color,90%);
	color: @message-color;
	border:none;
	margin: 0.5rem 0;
	padding: 1em;
	border-left: 0.5rem @message-color solid;
}

div.thing {
	h3, h4,p {
		margin: 0
	}
	padding: 0.5em 0;
}

div.hidden {
	opacity: 0.5;
}

nav {
	li {
		display: inline-block;
	}
	&#user-nav {
		padding: 1em 0 0 0;
		text-align: right;
		li {
			margin-left: .25em;
		}
	}
	&#main-nav {
	font-size: 1.5em;
	font-weight: bold;
	li {
		margin: 0 1em;
	}
}
}

header {
	height: 1px;
}

main {
	width: 100%;
	height: 100%;
}

footer {
	height: 1px;
	text-align: center;
}

ul {
	list-style-type: none;
}

#haves, #needs { 
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0 0.5em;
		li {
			padding: 1em;
			&:nth-child(even) {
				background-color: #eee;
			}
		}
	}

}

.wrapper {
	height: 100%;
	width: 100%;
	display: table;
}

.table {
	display: table;
	// height: 100%;
	width: 100%;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	width: 50%;
}

section#haves, section#needs {
	position: relative;
	h2 {
		text-decoration: underline;
		text-align: center;
	}
}

textarea {
	width: 100%;
	resize: vertical;
}
